<a href="https://colab.research.google.com/github/natalia7244/Python-Exercises/blob/main/16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wprowadzenie

## Biblioteki (math)

In [1]:
print("Ala ma kota. ")

Ala ma kota.

In [2]:
import math
print(math.sqrt(2))
print(math.log2(32))

1.4142135623730951
5.0

In [3]:
from math import log
log(1024,2)

10.0

In [4]:
import math as matematyka
print(matematyka.cos(0))

1.0

In [5]:
from math import  pow as potęga
print(potęga(3,5))

243.0

## Komentarze

In [6]:
# komentarz 1#

In [7]:
'komentarz 2'

'komentarz 2'

## Typy i zmienne

In [8]:
# Typy proste(wartości):
# Liczby całkowite - int
# Liczby rzeczywiste - float
# Boolowskie (logiczne) - bool
     #True i False

In [9]:
# Typy złożone (adresy):
# str - łańcuch znaków - "Ala"
# lista - l=[a,b,c,d]

=  symbol przypisania;
==  symbol równości;

## Instrukcje wejścia/wyjścia

### Instrukcja wejścia

In [ ]:
zmienna = input("Podaj imię: ")
wzrost = input("Podaj wzrost w cm: ")
waga = float(input( "Podaj wagę: "))
print(zmienna, int(wzrost)/100, waga - 1.75)

### Instrukcja wyjścia

In [ ]:
wzrost = input("Podaj wzrost w cm: ")
print("Twój wzrost to:", wzrost,".")
print(f"Twój wzrost to: {wzrost}.")

## Instrukcja warunkowa

### FOR

In [ ]:
a = input("Wpisz dowolny tekst: ")
for el in a:
    print(el*2)

In [ ]:
lista = ["Ala", 12, ["a",2,"c"]]
for el in lista:
    el *= 2
    print(el)
print(lista)

#### RANGE

In [ ]:
#range(n) -> [0, 1,.....,n-1]
#range(a,n) -. [a, a+1,..., n-1]

for i in range(5, 10,3):
    print(i, i**3)

In [ ]:
#suma pięciu liczb
suma = 0
for i in range(5):
    l = int(input(f"Podaj liczbę: "))
    suma += l
print("SUMA: ", suma)

### WHILE

In [ ]:
# dopóki liczba jest mniejsza od 10, to wyświetlaj jej kwadrat
liczba = int(input("Podaj liczbę: "))

while liczba<10:
    print(liczba, liczba**2)
    liczba += 1
print("Koniec")

In [ ]:
#Wyświetlaj kolejne potęgi 2, dopóki użytkownik nie odpowie na pytanie, że koniec
koniec = "Nie"
p=0N

while koniec !=  "T":
    print(2**p)
    p+=1

    koniec = input("Zakończyć? T/N")
print("Już.")

### If

In [ ]:
a = 66
moja = float(input("Podaj dowolną liczbę: "))
if a>moja:
    print("Dzielenie ...")
    moja /= 2 #moja = moja/2
print(a,moja)

In [ ]:
# elif - w przeciwnym wypadku, jeśli ...
a = 66
moja = float(input("Podaj dowolną liczbę: "))
if a>moja:
    print("Dzielenie ...")
    moja /= 2 #moja = moja/2
elif a<moja:
    print("Mnożenie...")
    moja *= 2
print(a,moja)

## Operatory

### = to operator przypisania np. a=5;\
+, -, * suma, różnica, mnożenie;\
/ dzielenie rzeczywistoliczbowe\
// dzielenie całkowitoliczbowe\
% dzieloenie modulo (reszta z dzielenia)\
** potęgowanie
# **Skrót: a =+ b **
_>, <, >=, <= \
!= różny \
== równy
# **Operatory porównania zawszed zwracają True lub False. **
or, and, not  - operatory logiczne

# Wprowadzenie 2

Typ prosty (int, float)- myśli o wartościahch

Typ złożony (lista, funckja) - myśli o adresach

## Listy

In [ ]:
lista = []
lista.append(1)
lista.append(5)
c = len(lista)
lista2 = [1,3,"n"]
print(lista)
print(sum(lista))
print(max(lista))
print(min(lista))
print(c)

[1, 5]
6
5
1
2

In [ ]:
#Metody
lista = [3,5,7,12,7,87,90]
lista.append(7) #Nowy element na koncu
print(lista.index(7))
lista.insert(2,51)   #Dodaje elenet w dowolnym miejscu listy
print(lista)
lista.reverse()
print(lista)
x = 7
while x in lista:
    lista.remove(x)
print(lista)

2
[3, 5, 51, 7, 12, 7, 87, 90, 7]
[7, 90, 87, 7, 12, 7, 51, 5, 3]
[90, 87, 12, 51, 5, 3]

In [ ]:
#Działania
l = [1,2,4]
l2 = [1,7,8]
l3 = [3,4,5,8]
l4 = l + l2
l5 = 2*l3
print(l4)
print(l5)
#Mnożymy każdy element listy:
l0 = []
for el in l:
    el =el*2
    l0.append(el)
print("\t",l0)

[1, 2, 4, 1, 7, 8]
[3, 4, 5, 8, 3, 4, 5, 8]
	 [2, 4, 8]

In [ ]:
l = [1,4,6,2]
l2= [3,1,4,56]
l3= l # l3 = l.copy()

l3.append("Ala")
l3 = l2
l2.append("kot")

print(l)
print(l2)
print(l3)
a = l[3]
print(a)
b = l[0:3]  #od indeksu 0 do indeksu 2
print(b)
c = l[:] #kopia listy
print(c)

[1, 4, 6, 2, 'Ala']
[3, 1, 4, 56, 'kot']
[3, 1, 4, 56, 'kot']
2
[1, 4, 6]
[1, 4, 6, 2, 'Ala']

In [ ]:
l = []
l1 = [0 for _ in range(10)]
print(l1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Krotki

In [ ]:
k = (34,7, "Natka")
print(k[-1]) #[-1] zwraca ostatni element listy

Natka

Krotka to niezmienna lista, tylko 2 metody

## Słowniki

In [ ]:
s = {1:"jeden", 2:"dwa", 3:"trzy"}
print(s)
for klucz in s:
    print(klucz, s[klucz])

{1: 'jeden', 2: 'dwa', 3: 'trzy'}
1 jeden
2 dwa
3 trzy

In [ ]:
# Metody
s = {1:"jeden", 2:"dwa", 3:"trzy"}
#s.items

## Funkcje

In [ ]:
#Funkcja, ktora liczy srednia arytmetyczna liczb
def avg(numbers):
    return sum(numbers) / len(numbers)
l=[12,23,24,25]
print(avg(l))

21.0

In [ ]:
#Funkcja, ktora liczy medianę z listy
def med(numbers):
    numbers.sort()
    if len(numbers)%2==0:
        i = len(numbers)//2
        return(numbers[i]+numbers[i-1]/2)
    else:
        return numbers[len(numbers)//2]
l =[1,2,3]
print(med(l))

2

## Pliki

In [ ]:
import os
os.listdir()
print(os.path.isdir("test"))
#os.path.isfile()
#os.path.sep()

False

# Przykład 1

In [ ]:
#Policzyc liczbe wystapien kazdego znaku.
#Wyswietlic liczby wystapien od najmniejszej do najwiekszej.

def count_chars(path):
    counter ={}
    file_in = open(path)
    char = file_inread(1)

    while char:
        counter[char] = counter.get(char,0)+1
        char = file_in.read(1)
    file_in.close()

In [ ]:
import os
def confusion_matrix(path):
    for file_name in os.listdir(path):
    file_name = os.pah.join.(path, file_name)
    print(file_name)